
<header th:fragment="header">
  <title>SpringSample</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/src/bootstrap/bootstrap-5.2.0-beta1-dist/css/bootstrap.css}">
  <script th:src="@{/src/bootstrap/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js}"></script>

  <style type="text/css">
    span {
      display: inline-block;
      width: 200px;
      text-align: left;
    }
    label {
      display: inline-block;
      width: 200px;
      margin: 5px;
      text-align: left;
    }
    input[type=text], input[type=password], select {
      display: inline-block;
      width: 200px;
    }
    input[type=radio] {
      margin-left: 45px;
    }
    input[type=checkbox] {
      margin-right: 190px;
    }
    button {
      padding: 5px;
      margin: 10px;
    }
  </style>
</header>

<footer th:fragment="default">
  <div>
    <i>&copy; 2022 Sample Footer</i>
  </div>
</footer>
</html>