<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragments/general :: header"> </header>
<body>
<div align="center">
  <h1>User Registration</h1>
  <form action="#" th:action="@{/register}" method="post" th:object="${user}">
    <label>username:</label>
    <input type="text" th:field="*{username}" /><br/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>

    <label>E-mail:</label>
    <input type="text" th:field="*{email}" /><br/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span><br th:if="${#fields.hasErrors('email')}">

    <label>Password:</label>
    <input type="password" th:field="*{password}" /><br/>
    <br/>

    <button type="submit">Register</button>
  </form>
</div>
<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>